
<div class="container-fluid">
    <!--Cart list item-->
    <div class="row pt-5 pl-3 mb-5">
        <div class="col-lg-8 col-md-9 col-sm-12 order-list-container ">
            <div class="ushi-heading pl-4 cart-title">
                <h3 class="color-second">Giỏ hàng của bạn</h3>
            </div>
            <div>
                {{#each Items}}
                <div class="cart_item" id="{{styleId}}-{{size}}">
                    <div class="cart-line">
                        <div class="cart-line-top">
                            <div class="cart-line-thumbnail">
                                <a>
                                    <img src="{{img}}" alt="dead1" class="pull-left">
                                </a>
                            </div>
                            <div class="cart-line-detail">
                                <div class="cart-product-name">{{shirtName}}</div>
                                <div class="cart-product-detail">
                                    <span class="cart-product-detail_size">{{size}}</span> - {{styleName}} </div>
                            </div>
                            <div class="cart-line-quantity ">
                                <span class="cart-product-detail_qty">{{Qty}}</span>x</div>
                            <div class="cart-line-price">
                                <span>{{moneyFormat price}}đ</span>
                            </div>
                            <div class="cart-line-action pl-3">
                                <button class="btn cart-btn" onclick="editItem('{{styleId}}-{{size}}')">
                                    <i class="fa fa-pencil color-white" aria-hidden="true"></i>
                                </button>
                                <button class="btn btn-danger" onclick="deleteItem('{{styleId}}-{{size}}')">X</button>
                            </div>
                        </div>
                        <div id="edit-{{styleId}}-{{size}}" class="cart-line__edit cf " data-size="{{size}}" data-qty="{{Qty}}">
                            <div class="triangle"></div>
                            <div class="cart-line__save">
                                <button class="cart__save btn-success" onclick="onSaveEdit('{{styleId}}-{{size}}')">Save</button>
                            </div>
                            <div class="cart-line__edit--right">
                                <div class="cart-line__size">
                                    <div class="cart-line__size--label">Size: </div>
                                    <div class="cart-line__size--select">
                                        <select class="form__select_menu js-size-select">
                                            <option value="S">S</option>
                                            <option value="M">M</option>
                                            <option value="L">L</option>
                                            <option value="XL">XL</option>
                                            <option value="2XL">2XL</option>
                                            <option value="3XL">3XL</option>
                                            <option disabled="disabled">4XL</option>
                                            <option disabled="disabled">5XL</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="cart-line__qty">
                                    <div class="cart-line__qty--label">Qty: </div>
                                    <input class="cart-line__qty--input form__textfield js-qty-line-item" type="number" min="0" max="999" pos="0" value="3">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-10 pl-4 ml-2 cart-total">
            <h4 class="heading-total">Tổng cộng
                <span>(
                    <span id="total-shirt">{{totalQty}}</span> áo)</span>
            </h4>
            <h3 class="color-primary pl-4" id="total-price"> {{moneyFormat totalPrice}}đ</h3>
            <button class="btn btn-success w-100">Thanh toán &rarr;</button>
        </div>
    </div>

</div>
<div id="content" class="container mx-auto">
    <form action="/shop/order" method="post" id="checkout-order-form">
        <h2>Your Details</h2>

        <fieldset id="fieldset-billing">
            <legend>Billing</legend>
            <div>
                <label for="name">Name</label>
                <input type="text" name="name" id="name" data-type="string" data-message="This field cannot be empty" />
            </div>
            <div>
                <label for="email">Email</label>
                <input type="text" name="email" id="email" data-type="expression" data-message="Not a valid email address" />
            </div>
            <div>
                <label for="city">City</label>
                <input type="text" name="city" id="city" data-type="string" data-message="This field cannot be empty" />
            </div>
            <div>
                <label for="address">Address</label>
                <input type="text" name="address" id="address" data-type="string" data-message="This field cannot be empty" />
            </div>
            <div>
                <label for="zip">ZIP Code</label>
                <input type="text" name="zip" id="zip" data-type="string" data-message="This field cannot be empty" />
            </div>
            <div>
                <label for="country">Country</label>
                <select name="country" id="country" data-type="string" data-message="This field cannot be empty">
                    <option value="">Select</option>
                    <option value="US">USA</option>
                    <option value="IT">VN</option>
                </select>
            </div>
        </fieldset>

        <div id="shipping-same">Same as Billing
            <input type="checkbox" id="same-as-billing" value="" />
        </div>

        <fieldset id="fieldset-shipping">

            <legend>Shipping</legend>

            <div>
                <label for="sname">Name</label>
                <input type="text" name="sname" id="sname" data-type="string" data-message="This field cannot be empty" />
            </div>
            <div>
                <label for="semail">Email</label>
                <input type="text" name="semail" id="semail" data-type="expression" data-message="Not a valid email address" />
            </div>
            <div>
                <label for="scity">City</label>
                <input type="text" name="scity" id="scity" data-type="string" data-message="This field cannot be empty" />
            </div>
            <div>
                <label for="saddress">Address</label>
                <input type="text" name="saddress" id="saddress" data-type="string" data-message="This field cannot be empty" />
            </div>
            <div>
                <label for="szip">ZIP Code</label>
                <input type="text" name="szip" id="szip" data-type="string" data-message="This field cannot be empty" />
            </div>
            <div>
                <label for="scountry">Country</label>
                <select name="scountry" id="scountry" data-type="string" data-message="This field cannot be empty">
                    <option value="">Select</option>
                    <option value="US">USA</option>
                    <option value="IT">VN</option>
                </select>
            </div>
        </fieldset>

        <p>
            <input type="submit" id="submit-order" value="Submit" class="btn" />
        </p>

    </form>
</div>

<script>    

    $(document).ready(function () {
        $('.cart-line__edit').hide();
    });

    function deleteItem(itemId) {
        $('#' + itemId).remove();

        $.ajax({
            url: '/cart/delete-item?id=' + itemId,
            method: 'GET',
            success: function (res) {
                $('.shopping-cart-total').text(res.totalQty);
                $('#total-shirt').text(res.totalQty);
                $('#total-price').text(res.totalPrice);
            }
        });
    }

    function editItem(itemId) {
        //show the edit element
        var cartEditor = $('#edit-' + itemId);
        cartEditor.toggle(500, () => { });    //show / hide w animation
        var size = $(cartEditor).data('size');
        var qty = $(cartEditor).data('qty');
        cartEditor.find('select').val(size);
        cartEditor.find('input').val(qty);
    }

    function onSaveEdit(itemId) {
        var cartEditor = $('#edit-' + itemId);
        var oSize = $(cartEditor).data('size');
        var oQty = $(cartEditor).data('qty');
        var nSize = cartEditor.find('select').val();
        var nQty = cartEditor.find('input').val();
        if (oSize != nSize || oQty != nQty) {
            //user really change
            //call api to change session cart            
            $.ajax({
                url: '/cart/edit-item?id=' + itemId + '&size=' + nSize + '&qty=' + nQty.toString(),
                method: 'GET',
                success: function (res) {
                    var cartEditor = $('#edit-' + itemId);
                    cartEditor.toggle(500, () => { });    //show / hide w animation
                    location.reload(true);
                }
            });
        }
    }


</script>

<script type="text/javascript" src="/js/jquery.shop.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>