<link rel="stylesheet" href="/css/design.css">
<!-- dialog box on click Buy-->
<!-- Modal -->

<div class="modal fade" id="modalOrder" tabindex="-1" role="dialog" aria-labelledby="modalCenter" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title color-second" id="modalLongTitle">Đặt mua</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form>
                <div class="modal-body">
                    <table class="precheckout_items_table">
                        <thead class="precheckout_items_table_head">
                            <tr>
                                <th class="line_items_table_heading heading-image"></th>
                                <th class="line_items_table_heading">Lượng</th>
                                <th class="line_items_table_heading">Size</th>
                                <th class="line_items_table_heading"> Kiểu</th>
                                <th class="line_items_table_heading heading-price"> Giá</th>
                            </tr>
                        </thead>
                        <tbody id="order-rows">
                            <!--render OrderRow here -->                            
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button id="btnAddToCart" name="add_to_cart" value="true" class="btn btn-success btn-square ml-0 px-3 py-2">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i> Thêm vào giỏ hàng</button>
                    <div class="checkout-payment">
                        <button  type="submit" name="btn_check_out" value="checkout" class="btn link-arrow-after"> Tới trang thanh toán</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="page-path">
        <li class="item">Trang chủ /
        </li>
        <li class="item">Shop</li>
    </div>
    <!--Display shirt & buy -->    
    <div class="row p-5 flex-lg-row flex-md-row flex-sm-column">
        <!--Stack imgage-->
        {{#each detail.Shirts}}
        {{#each Shirt_Colors}}
        <div id="shirt-{{ShirtId}}_color-{{colorHex}}" class="img-stack {{isFirst @index  @../index}} flip-container col-lg-6 col-md-5 col-sm-4" style="position: relative;"
        data-shirtid="{{ShirtId}}" data-color="{{colorHex}}" data-price="{{../price}}" data-styleid="{{id}}">
            <div class="new-editor front">                
                <img class='ghost-image' src='{{img_front}}' alt="blank shirt!">
                <div class="flip-buttons">
                    <button class='flip-button flip-button-front flip-button-active no-select'>Trước</button>
                    <button class='flip-button flip-button-back'>Sau</button>
                </div>
            </div>
            <div class="new-editor back">                
                <img class='ghost-image' src='{{img_back}}' alt="blank shirt!">
                <div class="flip-buttons">
                    <button class='flip-button flip-button-front'>Trước</button>
                    <button class='flip-button flip-button-back flip-button-active no-select'>Sau</button>
                </div>
            </div>            
        </div>
        {{/each}}
        {{/each}}
        
        <!--Buying zone -->
    <div class="col-lg-4 offset-lg-1 col-md-4 offset-md-3 col-sm-8 offset-sm-2">
        <div class="heading-shirt-name pt-4 pl-3">
            <h3 class="shirt-name">
                {{detail.name}}
            </h3>
            <p class="author">From
                <span>{{detail.User.user_name}}</span>
            </p>
            <p class="description">{{detail.description}}</p>
            <div class="shirt-option-container">
                <h6>Loại áo hiện có:</h5>                
                    <select class="custom-select" id="shirtSelector">
                    {{#each detail.Shirts}}
                        <option value="{{id}}" {{#unless @index}}selected="selected"{{/unless}}>
                            {{TypeShirt.name}} - {{moneyFormat price}}
                        </option>                        
                    {{/each}}
                    </select>
                    <!--Stack of color-->                    
                    {{#each detail.Shirts}}
                    <div class="product-color-container shirtId-{{id}} {{#unless @index}}active{{/unless}} pt-2">
                        <div class="label-color">Màu:</div>
                        <ul id="color_list" class="product-color-list" data-shirtid='{{id}}'>
                            {{#each Shirt_Colors}}
                            <li class="product-color-item {{#unless @index}}product-color-item-active{{/unless}} " data-color='{{colorHex}}' data-shirtid='{{ShirtId}}'>
                                <div class="product-color-block" style="background-color:#{{colorHex}};"></div>
                            </li>                            
                            {{/each}}
                        </ul>
                    </div>
                    {{/each}}                    
            </div>
            <button id="btnBuy" data-toggle="modal" data-target="#modalOrder" class="buy-now btn">Đặt mua ngay</button>
        </div>


    </div>
    </div>
        
    
    
</div>
<script src="/js/home.js"></script>
<script>
    $('.flip-button').click(function () {
        $('.flip-container').toggleClass('flip');
    });

    //render the element target by template with jsonData (json)
    function renderTemplateAjax(pathTemplate,inElement,withData){        
        var template,source;
        $.ajax({
            url: pathTemplate,  //ex: js/templates/row.hbs
            cache:true,
            success: function(data){
                source=data;
                template=Handlebars.compile(source);
                $(inElement).html(template(withData));
            }
        });
    }

    $(document).ready(function(){
        //danh sách các kiểu áo cho thiết kế hiện tại. Phân biệt theo shirtId-colorHex
        var styles=[];                
        {{#each detail.Shirts}}
            var name="{{TypeShirt.name}}"+'-';  
            var price={{price}};          
            {{#each Shirt_Colors}}  //each style                
                styles.push({
                    styleId: "{{id}}",
                    styleName: name+"{{Color.name}}" ,
                    img: '{{img_front}}',
                    shirtId: "{{ShirtId}}",
                    colorHex: "{{colorHex}}",                    
                    price:  price               
                });                
            {{/each}}
        {{/each}}        
        //-- click buy now
        $('#btnBuy').click(function(){
            var selecting=$('.img-stack.show'); // lấy kiểu áo đang chọn/xem
            var shirtId=selecting.data('shirtid');
            var color=selecting.data('color');
            var price=selecting.data('price');
            var url=$(selecting).find(".front img.ghost-image").attr("src");  //get img url of front div

            data={
                styles : styles,
                styleId: selecting.data('styleid'),
                shirtId: shirtId,
                colorHex: color,                
                designId: "{{detail.id}}",
                price: price,
                img: url,
                Qty: 1, //default
                removeable: false               
            }
            console.log(data);
            renderTemplateAjax('/js/templates/OrderRow.hbs','#order-rows',data);
        });

        $('#btnAddToCart').click(function(e){
            e.preventDefault();

            var selecting=$('#item-1');
            var Qty=$(selecting).find(".Qty").val();
            var size=$(selecting).find(".size").val();
            var styleId=$('#styles').find(':selected').data('styleid');
            var price=$('#styles').find(':selected').data('price');
            var img=$('#item-img').attr('src');
            var styleName=$('#styles').find(':selected').text();
            if (!Qty){
                showError("Enter the quantity");
                return;
            }
            console.log("adding item...");
            $.ajax({
                url: '/cart/add-to-cart',
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    styleId:styleId,
                    Qty: Qty,
                    size: size,
                    price: price,
                    img: img,
                    shirtName: "{{detail.name}}",
                    styleName: styleName
                }),
                success: function(response){    //response is cart object
                    console.log(response);
                    $('.shopping-cart-total').text(response.totalQty);   //update cart status
                    $('#modalOrder').modal('toggle');
                }
            });
        });
    });

    function showError(message){

    }
</script>